@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Merriweather:wght@300&family=Oswald:wght@300&family=Pacifico&family=Roboto+Mono:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.price {
  float: right;
}
/* main.jsx  */
.m-card {
  height: 254px;
  width: 190px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  overflow: hidden;
}

/*mainImage*/
.m-card-image {
  height: 100%;
  width: 100%;
  /* object-fit: contain; */
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #0a3394;
  background: linear-gradient(to top, #7d8035, #7d8113);
}
.m-card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*mainDescription */
.m-card-description {
  display: flex;
  position: absolute;
  gap: 0.5em;
  flex-direction: column;
  background-color: #f5f5f5;
  color: #212121;
  height: 70%;
  bottom: 0;
  border-radius: 16px;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1rem;
}

/*mainText*/
.m-text-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.m-text-body {
  font-size: 1rem;
  line-height: 130%;
}

/* mainHover states */
.m-card:hover .m-card-description {
  transform: translateY(100%);
}
.main-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*  premium_main cake section */
.category_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10rem;
  margin-left: 18rem;
  margin-bottom: 6rem;
}
.home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  background: yellow;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
  color: black;
  margin-left: 29px;
  margin-top: -30px;
}
*/


/* Not found page */
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(68, 68, 68);
  min-height: 80vh;
}
.not-found h2 {
  font-size: 60px;
}
.not-found p {
  font-size: 20px;
}

/* Home */
.home-container {
  padding: 2rem 4rem;
}
.home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.product {
  width: 250px;
  max-width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
}
.product img {
  width: 85%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.product h3 {
  font-size: 25px;
  font-weight: 400;
}
.product .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cake_images {
  display: flex;
  /* flex-direction: column; */
}
.sub_cake {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.product .details .price {
  font-size: 20px;
  font-weight: 700;
}
.product button {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
  font-weight: 400;
  background: #4b70e2;
  transition: all 0.5s ease-in-out;
  letter-spacing: 1.5px;
  color: white;
}
.product button:hover {
  background: wheat;
  color: black;
}

/* cart */
.cart-container {
  padding: 2rem 4rem;
  margin-top: 6%;
}
.cart-container h2 {
  font-weight: 400;
  text-align: center;
  font-size: 30px;
}
.cart-container .titles {
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.cart-container .titles .product-title {
  padding-left: 0.5rem;
}
.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product {
  display: flex;
}
.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
  font-weight: 400;
}
.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cart-item .cart-product button:hover {
  color: black;
}
.cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.cart-product-quantity .count {
  padding: 0.7rem 0;
}
.cart-product-total-price {
  justify-self: right;
  padding-right: 0.5rem;
  font-weight: 700;
}

/* cart summary */
.cart-summary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-cart {
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .subtotal .amount {
  font-weight: 700;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cart-checkout button {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  background: #4b70e2;
  transition: all 0.5s ease-in-out;
  letter-spacing: 1.5px;
  color: white;
}
.cart-checkout .cart-login {
  background-color: yellow;
  color: black;
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear-cart {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 10em;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.clear-cart:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.clear-cart:hover:not(:disabled) {
  background: lightcoral;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.clear-cart:disabled {
  cursor: auto;
  color: grey;
}

/* product items */

.body {
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000000;
  /* margin-top: 50px; */
}
.container-mag {
  max-width: 1200px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left {
  margin-top: 20px;
  display: flex;
  height: 50vh;
}
.left_1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image_wrap {
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  cursor: pointer;
}
.image_wrap img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.left_2 img {
  width: 500px;
  height: 100%;
  object-fit: contain;
}
.active {
  border: 2px solid #e77600;
}

.right {
  margin-left: 50px;
}
.right h3 {
  text-align: center;
}
.cake_images img {
  margin: 10px 8px;
  cursor: pointer;
}
.text_date input {
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: rgb(201, 201, 201);
  border-radius: 15px;
  color: black;
}
.text_date .slot {
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: rgb(201, 201, 201);
  border-radius: 15px;
  color: black;
}
.text_radio {
  display: flex;
  align-items: center;
}
.text_radio .rad {
  margin-right: 20px;
}
.text_radio .rad input {
  margin-right: 5px;
  margin-bottom: 10px;
}
.text_radio .tex input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: rgb(201, 201, 201);
  border-radius: 15px;
  color: black;
}

.buttons button {
  width: 150px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: rgb(201, 201, 201);
  border-radius: 15px;
  color: black;
}
.mess input {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: rgb(201, 201, 201);
  border-radius: 15px;
  color: black;
}
.description h2 {
  font-weight: bold;
  text-align: center;
}
.description ul li {
  font-weight: 500;
}

.footer {
  height: 50px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.aboutus {
  height: 100%;
  width: 100%;
  margin-left: 60px;
}

/* checkout page */
.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  height: 80vh;
  width: 100%;
  margin: 250px auto;
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 290px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #d1d5db;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: 0.3s ease;
}

.dismiss:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
}

.header {
  padding: 1.25rem 1rem 1rem 1rem;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2feee;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: animate 0.6s linear alternate-reverse infinite;
  transition: 0.6s ease;
}

.image svg {
  color: #0afa2a;
  width: 2rem;
  height: 2rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}

.title {
  color: #066e29;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.message {
  margin-top: 0.5rem;
  color: #595b5f;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actions {
  margin: 0.75rem 1rem;
}

.history {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #1aa06d;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.track {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  color: #242525;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}

/* Address.jsx */
.address_container {
  max-width: 1300px;
}
.main-footer {
  width: 100%;
  position: absolute;
  bottom: -400px;
}

/*  */

.gradient-custom {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.card-custom {
  border-bottom-left-radius: 10% 50%;
  border-top-left-radius: 10% 50%;
  background-color: #f8f9fa;
}

.input-custom {
  background-color: white;
}

.white-text {
  color: hsl(52, 0%, 98%);
  font-weight: 100;
  font-size: 14px;
}

.back-button {
  background-color: hsl(52, 0%, 98%);
  font-weight: 700;
  color: black;
  margin-top: 50px;
}

.c-address {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.c-address .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-address .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.c-address .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.c-address:hover {
  background-color: var(--hover-color);
}

.c-address:hover .arrow {
  background: var(--secondary-color);
}

.c-address:hover .arrow:before {
  right: 0;
}

/* cakes category cards */
.p-card-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.p-card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.p-card .p-front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.p-card .p-front-content img {
  font-size: 32px;
  font-weight: 700;
  height: 100%;
  width: 100%;
  object-fit: contain;
  opacity: 1;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.p-card .p-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateX(-96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.p-card .p-content .p-heading {
  font-size: 32px;
  font-weight: 700;
}

.p-card:hover .p-content {
  transform: translateY(0);
}

.p-card:hover .p-front-content {
  transform: translateX(-30%);
}

.p-card:hover .p-front-content p {
  opacity: 0;
}

.p-card span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-card span::before {
  content: "Premium";
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(
    45deg,
    #ff6547 0%,
    #ffb144 51%,
    #ff7053 100%
  );
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.p-card span::after {
  content: "";
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}
